.container{
    display: flex;
    height: 100%;
    flex-direction: row;
    width: 100%;
    padding: 0 10% 0 0;
    justify-content: space-between;
}

.hobbies_nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

body {
    font-family: sans-serif;
}

.hobbies_main li {
    margin-bottom: 10%;
}


.wrapper {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.wrapper aside {
    padding: 5%;
}

.odessio__text-highlight {
    color:#1e514a;
}

.odessio__text-highlight_two {
    color: #A096D3;
}

.odessio__hero{
    background-image: url(images/index_penpal_four.jpg);
    background-attachment: inherit;
    background-repeat: repeat;
    background-size: cover;
}

.odessio__connect_section {
    justify-content: space-around!important;
}